.container {
    align-content: ;
    text-align:   
 }
.page-header{
        margin:0px;

}
.game{
        margin:0px;

height:100px;
width:150px;
background-color: black;

}
#talk{
        background-color: white
 font-size:12pt;
}

h1 {
    font-size:45pt;
    text-align:right;
    font-family: 'Righteous', cursive;
}

h3 {
    font-size:17pt;
    color:white;
    text-align: right;
    background-color: black;
}

h2 {
    font-size:18pt;
    text-align: center;
    margin:5px;
    color: #ff4500;
}

h6 {
    font-size:14pt;
    text-align: center;
    margin:10px;
    color: #ff4500;
}
body {
    width: ;
    height: 100%;
    text-align: right;
    margin:0px 0px 0px 0px;
    padding: 1px;
    font-family:sans-serif; 
    font-weight:bold; 
    font-size:14pt;
    color: #ff4500;
    background-repeat: no-repeat;
    background-position: right;
    background-color: black;
   background-image: url('../images/barimage.jpg');

   background-size:80%;
   
 }
#choices1:hover { 
background-color: ;
color: red;
font-size: 25px;
}
#choices2:hover { 
background-color: ;
color: red;
font-size: 25px;
}

#user1Rocks:hover { 
background-color: ;
color: red;
font-size: 25px;
}

#user2Rocks:hover { 
background-color: ;
color: red;
font-size: 25px;

 }
#user1paper:hover { 
background-color: ;
color: red;
font-size: 25px;

 }
 #user2paper:hover { 
background-color: ;
color: red;
font-size: 25px;

 }
 #user1spritzer:hover { 
background-color: ;
color: red;
font-size: 25px;

 }
#user2spritzer:hover { 
background-color: ;
color: red;
font-size: 25px;

 }

button{
    background:#6495ed;
    height:60px;
    width:150px;
    text-align: center;
    color: black;
    font-size: 24px;
    margin-top: 30px;
}

#player1name{
    font-size: 20px;



}
#therules {
    margin-top:15px;
}

.col-md-2 {
     font-family: 'Righteous', cursive;    
    margin-top: 0px;
    background-color: opacity: .6; 
    opacity: ;
    text-align: center;
   
 }
 .col-md-3 {
      background-color: black; 
      opacity:;

   
 }
.col-md-4 {
     font-family: 'Righteous', cursive;    
    margin-top: 10px;
    
 }

.page-header {
     margin-top: 10px; 
     padding-bottom: 
}

.title {
    text-align: right
    color: white ;
    opacity: ;
    font-family: 'Righteous', cursive;
}